* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  align-items: flex-start;
  
}

.imagecontainer{
  width: 65%;
}
.image{
  height: 100vh;
  width: 100%;
 
}

.back {
  display: flex;
  height: 100vh;
  background-image: url("../../assets/pol.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background-color: #7e6060;
  overflow: hidden;
}

.card {

  width: 550px;
  height: 100vh;
  padding: 40px;
  border: none;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 100%;
}

.text-center {
  text-align: center;
  padding: 1px;
 
}

.logo-wrapper{
  margin-top: -15px;
 
}


.logo-wrapper img {
  width: 50px;
  margin-top: -20px;
  height: auto;
}

h1 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 5px;
}


.mat-error {
  font-size: 14px;
  color: red;
}

button {
  width: 100%;
  margin-top: 10px;
}

.L_account {

  text-align: center;
}

.L_account a {
  color: #007bff;
  text-decoration: none;
}

.L_account a:hover {
  text-decoration: underline;
}

.mb-3 {
  margin-bottom: 16px;
  width: 100%;
}

.Meal {
  color: #e23e3f;
  font-size: 34px;
  font-weight: 700;
 
}

.fa-solid,
.fa-eye .fa,
.fa {
  position: absolute;
  top: 40%;
  left: 95%;
  cursor: pointer;
}
